.footer{
	position: relative;
	padding: 100px 0 16px;
	background: url(../img/footer-bg.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	a{
		color: #fff;
	}
	&__item{
		margin-bottom: 24px;
	}
	&__logo{
		margin-top: -50px;
		margin-bottom: 36px;
	}


	&__list{
		display: flex;
		flex-wrap: wrap;
		font-weight: normal;

		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;

		&__title{
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			color: #17B978;
			margin-bottom: 18px;
		}
		li{
			flex: 0 0 auto;
    		width: 33.33333333%;
			margin-bottom: 15px;
			a{
				color: #fff;
				transition: all .5s;
				&:hover{
					color: $color_primary;
				}
			}
		}
	}
	&__text{
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: #A1A4AC;
	}
	&__socical{
		li{
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		a{
			display: block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			color: #fff;
			font-size: 14px;
			text-align: center;
			transition: all .5s;
			&:hover{
				text-decoration: none;
				color: $color_primary;
			}
		}
	}
	.copyright{
		border-top: 1px solid #1F403B;
		padding-top: 16px;
		font-size: 16px;
		line-height: 24px;
		color: #A1A4AC;

	}
	@media (max-width: 991px){
		padding: 50px 0 16px;
		&__logo{
			margin-top: 0;
			margin-bottom: 15px;
		}
		&__list{
			margin-bottom: 30px;
		}
	}
	@media (max-width: 767px){
		&__list li {
		    width: 50%;
		}
	}
	@media (max-width: 575px){

	}
}